<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bed68fbb2f.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div style="background-image: url('https://image.freepik.com/free-vector/information-technology-with-infographic-elements-flat-icons-cogs-gear-wheel-mechanisms-hi-tech-digital-technology-engineering-abstract-technical-background_302149-58.jpg'); background-size: cover; height:100vh; padding-top:50px; text-align: right;">
        <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style=" color: black; font-size: 60px; font-family: 'Bree Serif'; font-style: italic;">GearBox Fault Diagnosis...</h1>
                </br>
                </br>
                <p style="font-style: italic; font-size: 25px;"> Insert your CSV file down here...</p>
                </br>
                </br>
                <form action="/transform" method="post" enctype="multipart/form-data">
                <input type="file" name="data_file" class="btn btn-white"/>
                </br>
                </br>
                </br>
                </br>
                <button type="submit" class="btn btn-primary button">Predict</button>
                </form>
                </br>
                </br>
                </br>
                </br>
                </br>
                <span style='font-size: 30px; font-weight: bold; font-family: "Bree Serif";'>{{ flags }}</span>
            </div>
        </div>
    </div>
    </div>
  </body>
</html>

